* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.mdl-layout__header-row__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mld-layout__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media__video {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.media__picture {
  margin-top: 2rem;
}
