* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

.mdl-layout__header-row__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mld-layout__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media__video {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.media__picture {
  margin-top: 2rem;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  z-index: 3;
}

.open {
  display: block;
}
